/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Styles for the body */

body {
	  font-family: "Lora", serif;
	color:aliceblue;
	background-color:#DEC4A9;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #B3A390;
	color:#DA2023

.resume-main {
	background-color: #D8D7CD;
}

.resume-aside {
	background-color: #DECBB9;
	
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height:1em;
	flex-basis:1.4em;
	flex-grow: 0;

.myfont {
    color:#B93538;
font-family: "Protest Riot", sans-serif;}

.mybox {
    width: 600px;
    height: 80px;
    text-shadow: 0px 0px #D82727;
    border-width: 8px;
    border-color: #8383C8;
    background-color: #000000;
    margin-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 11px;
    border-radius: 5px;
}

#test {
	background-color:#69C986;
	
}